@page "/order/{OrderId:int}"

<div class="d-flex align-content-center justify-center gap-3">
    @if (isLoading)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"><b>Order #@OrderId</b></MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="d-flex flex-column gap-2">
                <MudPaper Class="d-flex flex-column gap-1" Elevation="0">
                    <MudTable Items="@order!.OrderItems" Elevation="0" Dense="true">
                        <HeaderContent>
                            <MudTh><b>Service Name</b></MudTh>
                            <MudTh><b>Quantity</b></MudTh>
                            <MudTh><b>Price</b></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Service Name">@context.Item!.Name</MudTd>
                            <MudTd DataLabel="Quantity">x @context!.Quantity</MudTd>
                            <MudTd DataLabel="Price">@context.Item!.Currency!.Symbol @context.Item!.Price.ToString("N2")</MudTd>
                        </RowTemplate>
                    </MudTable>
                    <div class="d-flex flex-row pr-3 pb-3">
                        <MudText Class="d-flex">
                            <b>Total Price: @order!.OrderItems![0].Item!.Currency!.Symbol @(order.OrderItems.Select(x => x.Quantity * x.Item!.Price).Sum().ToString("N2"))</b>
                        </MudText>
                    </div>
                </MudPaper>
                <MudDivider></MudDivider>
                @if (paymentMethods.Any())
                {
                    <MudText><b>Select payment method:</b></MudText>
                    <div class="d-flex flex-row gap-2">
                        <MudRadioGroup @bind-SelectedOption="@selectedPaymentMethod">
                            @foreach (var paymentMethod in paymentMethods)
                            {
                                <MudRadio Option="@paymentMethod.PaymentMethodId" Color="Color.Primary">@paymentMethod.Name</MudRadio>
                            }
                        </MudRadioGroup>
                    </div>
                }
                else
                {
                    <MudText>The merchant has no selected payment methods</MudText>
                }
            </MudCardContent>
            <MudCardActions Class="d-flex gap-4 justify-end">
                <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="OnClickCancelAsync">Cancel</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="OnClickPayAsync">Pay</MudButton>
            </MudCardActions>
        </MudCard>
    }
</div>