@page "/invoice/{InvoiceId:int}/success/{ExternalSubscriptionId?}"
@using Base.DTO.Enums

<div class="d-flex align-content-center justify-center gap-3  mt-3">
    @if (isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Indeterminate="true" />
        </div>
    }
    else
    {
        @if (unexpectedError)
        {
            <MudAlert Class="d-flex justify-center" Severity="Severity.Error">Some unexpected error occcurred.</MudAlert>
            <div class="d-flex justify-center">
                <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="OnClickContinueShopping">Back to Home</MudButton>
            </div>
        }
        else
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6"><b>Invoice #@invoice!.InvoiceId</b></MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="d-flex flex-column gap-2">
                    <MudPaper Class="d-flex flex-column gap-1" Elevation="0">
                        @if (invoice!.InvoiceType == InvoiceType.ORDER)
                        {
                            @foreach (var merchantOrder in order!.MerchantOrders!)
                            {
                                <MudTable Items="@merchantOrder.OrderItems" Elevation="0" Dense="true">
                                    <HeaderContent>
                                        <MudTh><b>Service Name</b></MudTh>
                                        <MudTh><b>Quantity</b></MudTh>
                                        <MudTh><b>Price</b></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Service Name">@context.Item!.Name</MudTd>
                                            <MudTd DataLabel="Quantity">x @context!.Quantity</MudTd>
                                            <MudTd DataLabel="Price">@context.Item!.Currency!.Symbol @context.Item!.Price.ToString("N2")</MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                <div class="d-flex flex-row justify-end pr-3 pb-3">
                                    <MudText Class="d-flex gap-1">
                                        @if (merchantOrder.Invoice != null)
                                        {
                                            if (merchantOrder.Invoice.Transaction!.TransactionStatus == DTO.Enums.TransactionStatus.ERROR)
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Color="Color.Error" />
                                            }
                                            else if (merchantOrder.Invoice.Transaction.TransactionStatus == DTO.Enums.TransactionStatus.COMPLETED)
                                            {
                                                <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Success" />
                                            }
                                        }
                                        
                                        <b>Total Price: @merchantOrder.OrderItems![0].Item!.Currency!.Symbol @(merchantOrder.OrderItems.Select(x => x.Quantity * x.Item!.Price).Sum().ToString("N2"))</b>
                                    </MudText>
                                </div>
                                @if (merchantOrder.Invoice == null)
                                {
                                    <div class="d-flex flex-row-reverse">
                                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Disabled=@(isPaymentInProgress) OnClick="@(() => OnClickPayAsync(merchantOrder.MerchantOrderId))">
                                            @if (isPaymentInProgress)
                                            {
                                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                            }
                                            Pay
                                        </MudButton>
                                    </div>
                                }
                                else if (merchantOrder.Invoice.InvoiceId == InvoiceId)
                                {
                                    <MudAlert Class="d-flex justify-center" Severity="Severity.Success">Transaction successfully completed!</MudAlert>
                                }
                                <MudDivider></MudDivider>
                            }
                        }
                        else
                        {
                            <MudText>Subscription Plan payment</MudText>
                        }
                    </MudPaper>
                    <MudDivider></MudDivider>
                    @if (invoice!.InvoiceType != InvoiceType.ORDER)
                    {
                        <MudAlert Class="d-flex justify-center" Severity="Severity.Success">Transaction successfully completed!</MudAlert>
                    }
                </MudCardContent>
                @if (invoice!.InvoiceType != InvoiceType.ORDER || order!.MerchantOrders!.All(x => x.Invoice != null && x.Invoice.Transaction!.TransactionStatus == DTO.Enums.TransactionStatus.COMPLETED))
                {
                    <MudCardActions Class="d-flex gap-4 justify-center">
                        <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="OnClickContinueShopping">Continue Shopping</MudButton>
                    </MudCardActions>
                }
            </MudCard>
        }
    }
</div>