@page "/shoppingCart"

<MudPaper Elevation="1" Class="d-flex flex-column gap-2 ma-4">
    @if (isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Indeterminate="true" />
        </div>
        
    }
    else
    {
        <MudTable Items="@shoppingCart!.ShoppingCartItems" Class="pa-3" Elevation="0">
            <ToolBarContent >
                <div class="d-lg-flex flex-row align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.ShoppingCart"></MudIcon>
                    <MudText Typo="Typo.h6">Shoping Cart</MudText>
                </div>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><b>Service Name</b></MudTh>
                <MudTh><b>Price</b></MudTh>
                <MudTh><b>Quantity</b></MudTh>
                <MudTh><b>Total Price</b></MudTh>
                <MudTh Style="width:70px"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Service Name">@context.Item!.Name</MudTd>
                <MudTd DataLabel="Price">@context.Item!.Currency!.Symbol @context.Item!.Price.ToString("N2")</MudTd>
                <MudTd DataLabel="Quantity">@context!.Quantity</MudTd>
                <MudTd DataLabel="Total Price">@context.Item!.Currency!.Symbol @((context.Quantity * context.Item!.Price).ToString("N2"))</MudTd>
                <MudTd>
                    <MudTooltip Text="Remove">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <p>No Items in Shopping Cart</p>
            </NoRecordsContent>
        </MudTable>
        @if(shoppingCart.ShoppingCartItems!.Any())
        {
            <div class="d-flex flex-row justify-end pr-3 pb-3">
                <MudText Typo="Typo.h6" Class="d-flex justify-end">
                    <b>Total Price: @shoppingCart!.ShoppingCartItems![0].Item!.Currency!.Symbol @(@shoppingCart.ShoppingCartItems.Select(x => x.Quantity * x.Item!.Price).Sum().ToString("N2"))</b>
                </MudText>
            </div>
        }
        
        <div class="d-flex flex-row justify-end pr-3 pb-3">
            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Disabled="@(!shoppingCart.ShoppingCartItems!.Any())" OnClick="OnClickCheckoutAsync">Proceed to checkout</MudButton>
            </div>
        </div>
    }
</MudPaper>