@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Dense="true" Color="Color.Primary">
        <MudTooltip Text="Home" Delay="600">
            <div class="cursor-pointer" @onclick="OnClickHome">
                <MudText Typo="Typo.h6">Law Publishing Agency</MudText>
            </div>
        </MudTooltip>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <AuthorizeView Roles="BUYER" Context="buyerContext">
                    <MudTooltip Text="Orders Archive">
                        <MudIconButton Icon="@Icons.Material.Filled.ListAlt" Color="Color.Inherit" />
                    </MudTooltip>
                    @if (GlobalSettings.ShoppingCartItemsCount != 0)
                    {
                        <MudTooltip Text="Shopping Cart">
                            <MudBadge Content="@GlobalSettings.ShoppingCartItemsCount" Color="Color.Error" Overlap="true" Origin="Origin.CenterRight">
                                <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="OnClickShoppingCart" Color="Color.Inherit" />
                            </MudBadge>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Shopping Cart">
                            <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="OnClickShoppingCart" Color="Color.Inherit" />
                        </MudTooltip>
                    }
                </AuthorizeView>
                <MudTooltip Text="Logout">
                    <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="OnClickLogout" Color="Color.Inherit" />
                </MudTooltip>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>